In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [2]:
pd.set_option('display.max_columns', None)
display.max_characters = None

In [3]:
df = pd.read_json(r"C:\Users\22213\OneDrive\Desktop\recani\recani\data\raw_ranked_data.json")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20923 entries, 0 to 20922
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name_english     9670 non-null   object
 1   name             20923 non-null  object
 2   score            20923 non-null  object
 3   ranked           20923 non-null  int64
 4   popularity       20923 non-null  int64
 5   members          20923 non-null  int64
 6   synopsis         20923 non-null  object
 7   synonyms         20923 non-null  object
 8   type_of          20922 non-null  object
 9   total_episodes   20923 non-null  object
 10  premiered        5833 non-null   object
 11  studios          20923 non-null  object
 12  genres           20923 non-null  object
 13  demographic      8901 non-null   object
 14  duration_per_ep  20923 non-null  object
 15  rating           20923 non-null  object
 16  scored_by        13607 non-null  float64
 17  favorites        20923 non-null  int64
 18  aired            20923 non-null  object
 19  source           20923 non-null  object
 20  watching         20921 non-null  object
 21  completed        20921 non-null  object
 22  on_hold          20921 non-null  object
 23  dropped          20921 non-null  object
 24  plan_to_watch    20921 non-null  object
 25  total            20921 non-null  object
 26  scored_10_by     20918 non-null  float64
 27  scored_9_by      20915 non-null  float64
 28  scored_8_by      20910 non-null  float64
 29  scored_7_by      20882 non-null  float64
 30  scored_6_by      19631 non-null  float64
 31  scored_5_by      18437 non-null  float64
 32  scored_4_by      17657 non-null  float64
 33  scored_3_by      16901 non-null  float64
 34  scored_2_by      15903 non-null  float64
 35  scored_1_by      14318 non-null  float64
dtypes: float64(11), int64(4), object(21)
memory usage: 5.7+ MB

In [5]:
df.isnull().sum()

name_english       11253
name                   0
score                  0
ranked                 0
popularity             0
members                0
synopsis               0
synonyms               0
type_of                1
total_episodes         0
premiered          15090
studios                0
genres                 0
demographic        12022
duration_per_ep        0
rating                 0
scored_by           7316
favorites              0
aired                  0
source                 0
watching               2
completed              2
on_hold                2
dropped                2
plan_to_watch          2
total                  2
scored_10_by           5
scored_9_by            8
scored_8_by           13
scored_7_by           41
scored_6_by         1292
scored_5_by         2486
scored_4_by         3266
scored_3_by         4022
scored_2_by         5020
scored_1_by         6605
dtype: int64

# name_english, name:-

In [6]:
df['name_english'].isnull().sum()

11253

In [7]:
df['name_english'].isna().sum()

11253

In [8]:
df['name_english'].sample(10)

15141                                         None
12211         Paper Rabbit Rope x AU Collaboration
10069                                         None
16492                                         None
15487                 The King of Tibetan Antelope
2648                                         Karas
12614                                         None
6804         Night Warriors: Darkstalkers' Revenge
646      Persona 3 the Movie: #4 Winter of Rebirth
16579                                         None
Name: name_english, dtype: object

In [9]:
type(df['name_english'][462])

NoneType

In [10]:
df['name_english'] = df['name_english'].fillna(df['name'])

In [11]:
df['name_english'].isnull().sum()

0

# score:-

In [12]:
df['score'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 20923 entries, 0 to 20922
Series name: score
Non-Null Count  Dtype
--------------  -----
20923 non-null  object
dtypes: object(1)
memory usage: 163.6+ KB

In [13]:
df['score'].isnull().sum()

0

In [14]:
df['score'].unique()

array(['8.73', '8.74', '8.75', '8.76', '8.77', '8.78', '8.79', '8.81',
       '8.82', '8.84', '8.87', '8.88', '8.90', '8.91', '8.92', '8.93',
       '8.94', '8.98', '9.01', '9.02', '9.03', '9.04', '9.05', '9.06',
       '9.07', '9.09', '9.39', '8.56', '8.45', '8.31', '8.32', '8.33',
       '8.34', '8.35', '8.36', '8.37', '8.38', '8.39', '8.40', '8.41',
       '8.42', '8.43', '8.44', '8.57', '8.58', '8.59', '8.60', '8.61',
       '8.62', '8.63', '8.64', '8.65', '8.66', '8.67', '8.68', '8.69',
       '8.70', '8.71', '8.46', '8.72', '8.47', '8.48', '8.49', '8.50',
       '8.51', '8.52', '8.53', '8.54', '8.55', '8.26', '8.21', '8.22',
       '8.23', '8.24', '8.25', '8.27', '8.28', '8.29', '8.30', '8.18',
       '8.13', '8.14', '8.15', '8.16', '8.17', '8.19', '8.20', '8.06',
       '8.07', '8.08', '8.09', '8.10', '8.11', '8.12', '8.02', '7.98',
       '7.99', '8.00', '8.01', '8.03', '8.04', '8.05', '7.94', '7.91',
       '7.92', '7.93', '7.95', '7.96', '7.97', '7.89', '7.90', '7.86',
       '7.87', '7.88', '7.81', '7.77', '7.79', '7.80', '7.78', '7.82',
       '7.84', '7.83', '7.85', '7.75', '7.71', '7.72', '7.73', '7.76',
       '7.74', '7.69', '7.67', '7.68', '7.70', '7.64', '7.63', '7.65',
       '7.66', '7.61', '7.59', '7.58', '7.60', '7.62', '7.57', '7.55',
       '7.54', '7.56', '7.53', '7.51', '7.52', '7.50', '7.49', '7.47',
       '7.48', '7.46', '7.45', '7.43', '7.44', '7.42', '7.41', '7.40',
       '7.39', '7.38', '7.37', '7.35', '7.34', '7.36', '7.33', '7.32',
       '7.31', '7.30', '7.29', '7.28', '7.27', '7.26', '7.25', '7.24',
       '7.23', '7.22', '7.21', '7.20', '7.19', '7.18', '7.17', '7.16',
       '7.15', '7.14', '7.13', '7.12', '7.11', '7.10', '7.09', '7.08',
       '7.07', '7.06', '7.05', '7.04', '7.03', '7.02', '7.01', '7.00',
       '6.98', '6.97', '6.99', '6.96', '6.95', '6.94', '6.92', '6.93',
       '6.91', '6.90', '6.89', '6.88', '6.85', '6.87', '6.86', '6.84',
       '6.83', '6.82', '6.81', '6.80', '6.79', '6.78', '6.77', '6.76',
       '6.75', '6.74', '6.73', '6.72', '6.71', '6.70', '6.69', '6.68',
       '6.67', '6.66', '6.65', '6.64', '6.63', '6.62', '6.61', '6.60',
       '6.59', '6.58', '6.57', '6.56', '6.55', '6.54', '6.53', '6.52',
       '6.51', '6.50', '6.49', '6.48', '6.47', '6.46', '6.45', '6.44',
       '6.43', '6.42', '6.41', '6.40', '6.39', '6.38', '6.37', '6.36',
       '6.35', '6.34', '6.33', '6.32', '6.31', '6.30', '6.29', '6.28',
       '6.27', '6.26', '6.25', '6.24', '6.23', '6.21', '6.20', '6.22',
       '6.19', '6.18', '6.17', '6.16', '6.15', '6.14', '6.13', '6.12',
       '6.11', '6.09', '6.10', '6.08', '6.07', '6.06', '6.05', '6.04',
       '6.03', '6.02', '6.01', '6.00', '5.98', '5.97', '5.99', '5.96',
       '5.95', '5.94', '5.93', '5.91', '5.90', '5.92', '5.89', '5.88',
       '5.87', '5.86', '5.85', '5.83', '5.84', '5.82', '5.80', '5.79',
       '5.81', '5.78', '5.76', '5.77', '5.75', '5.74', '5.72', '5.71',
       '5.73', '5.70', '5.69', '5.68', '5.67', '5.66', '5.65', '5.63',
       '5.62', '5.64', '5.61', '5.59', '5.60', '5.58', '5.56', '5.57',
       '5.55', '5.53', '5.54', '5.51', '5.49', '5.50', '5.52', '5.48',
       '5.46', '5.47', '5.45', '5.43', '5.44', '5.41', '5.39', '5.40',
       '5.42', '5.38', '5.36', '5.37', '5.34', '5.32', '5.33', '5.35',
       '5.29', '5.27', '5.28', '5.30', '5.31', '5.25', '5.23', '5.24',
       '5.26', '5.20', '5.18', '5.19', '5.21', '5.22', '5.14', '5.11',
       '5.12', '5.13', '5.15', '5.16', '5.17', '5.07', '5.03', '5.04',
       '5.05', '5.06', '5.08', '5.09', '5.10', '5.00', '4.95', '4.96',
       '4.97', '4.98', '4.99', '5.01', '5.02', '4.90', '4.85', '4.86',
       '4.87', '4.88', '4.89', '4.91', '4.92', '4.93', '4.94', '4.80',
       '4.76', '4.77', '4.78', '4.79', '4.81', '4.83', '4.84', '4.71',
       '4.63', '4.64', '4.65', '4.66', '4.67', '4.68', '4.69', '4.70',
       '4.72', '4.73', '4.74', '4.75', '4.57', '4.58', '4.59', '4.60',
       '4.61', '4.62', '4.46', '4.30', '4.31', '4.32', '4.33', '4.35',
       '4.36', '4.37', '4.38', '4.39', '4.40', '4.41', '4.42', '4.44',
       '4.45', '4.47', '4.48', '4.49', '4.50', '4.51', '4.52', '4.53',
       '4.54', '4.55', '4.56', '4.04', '3.53', '3.55', '3.56', '3.57',
       '3.58', '3.59', '3.60', '3.62', '3.64', '3.65', '3.68', '3.69',
       '3.71', '3.72', '3.74', '3.76', '3.77', '3.78', '3.79', '3.80',
       '3.81', '3.83', '3.84', '3.86', '3.88', '3.89', '3.90', '3.91',
       '3.92', '3.95', '3.96', '3.97', '4.05', '4.06', '4.07', '4.08',
       '4.09', '4.10', '4.12', '4.13', '4.14', '4.15', '4.16', '4.17',
       '4.18', '4.19', '4.20', '4.21', '4.22', '4.23', '4.24', '4.27',
       '4.29', 'N/A', '1.86', '2.00', '2.22', '2.34', '2.39', '2.55',
       '2.62', '2.65', '2.75', '2.76', '2.89', '2.93', '2.98', '2.99',
       '3.03', '3.04', '3.06', '3.07', '3.11', '3.14', '3.15', '3.18',
       '3.20', '3.24', '3.25', '3.28', '3.29', '3.30', '3.34', '3.35',
       '3.36', '3.37', '3.39', '3.47', '3.48'], dtype=object)

In [15]:
df['score'][3]

'8.75'

In [16]:
df['score'] = df['score'].apply(lambda x : float(x) if x != 'N/A' else 0.00)

# ranked:-

In [17]:
df['ranked'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 20923 entries, 0 to 20922
Series name: ranked
Non-Null Count  Dtype
--------------  -----
20923 non-null  int64
dtypes: int64(1)
memory usage: 163.6 KB

# popularity:-

In [18]:
df['popularity'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 20923 entries, 0 to 20922
Series name: popularity
Non-Null Count  Dtype
--------------  -----
20923 non-null  int64
dtypes: int64(1)
memory usage: 163.6 KB

# members:-

In [19]:
df['members'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 20923 entries, 0 to 20922
Series name: members
Non-Null Count  Dtype
--------------  -----
20923 non-null  int64
dtypes: int64(1)
memory usage: 163.6 KB

# synopsis:-

In [15]:
s = pd.DataFrame(df['synopsis'])

In [16]:
import re

In [17]:
# def process_synopsis(x):
#     if x == '':
#         return
#     elif x[-1] == ']' or ')':
#         x = re.sub(pattern, '', x)
#     else:
#         if x in "No synopsis information has been added to this title. Help improve our database by adding a synopsis .":
#             x = ''
#         elif len(x) <= 50:
#             x = ''
#     return x

# s['synopsis'] = s['synopsis'].apply(process_synopsis)

import re
pattern = '[\[\(][^\[\(]*[\]\)]$'

def process_synopsis(x):

    # Check if x is an empty string or contains only double quotes
    if x == '':
        return x

    # If x ends with ']' or ')', remove the content after the last occurrence of a bracket
    elif x[-1] in [']', ')']:
        x = re.sub(pattern, '', x)

    else:
        # Check if x is the specific string
        if x == "No synopsis information has been added to this title. Help improve our database by adding a synopsis .":
            x = ""  # Set x to an empty string

        # Check if the length of x is less than or equal to 50 characters
        elif len(x) <= 50:
            x = ""  # Set x to an empty string

    return x

In [22]:
process_synopsis("Turning plan in[ motion.] to eli[minate the ot]her. Reiner Braun uses his own powers in( a s ve)ry soul. [Written by MAL Rewrite]")

'Turning plan in[ motion.] to eli[minate the ot]her. Reiner Braun uses his own powers in( a s ve)ry soul. '

In [23]:
s['synopsis'] = s['synopsis'].apply(process_synopsis)

# synonmys:-

In [132]:
df['synonyms'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: synonyms
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [133]:
(df['synonyms'] == '').sum()

2

In [134]:
df[df['synonyms'] == '']

,name_english,name,score,ranked,popularity,members,synopsis,synonyms,type_of,total_episodes,premiered,studios,genres,demographic,duration_per_ep,rating,scored_by,favorites,aired,source,watching,completed,on_hold,dropped,plan_to_watch,total,scored_10_by,scored_9_by,scored_8_by,scored_7_by,scored_6_by,scored_5_by,scored_4_by,scored_3_by,scored_2_by,scored_1_by
352,Great Pretender,Great Pretender,8.21,353,312,659783,A series of unfortunate events has led Makoto ...,,TV,23,Summer 2020,Wit Studio,"[Action, Adventure, Mystery]",None,23 min. per ep.,R - 17+ (violence & profanity),319392,9939,"Jul 9, 2020 to Dec 17, 2020",Original,"66,157","350,540","34,053","23,626","185,407","659,783",42467,89432,107708,52891,16381,6139,2415,902,386.0,671.0
548,Ninja Kamui,Ninja Kamui,8.06,549,1900,112971,Joe Higan is a Nukenin – a former ninja who es...,,TV,12,Winter 2024,E&H Production,"[Action, Fantasy, Sci-Fi]",None,23 min. per ep.,R - 17+ (violence & profanity),21911,810,"Feb 11, 2024 to ?",Original,"70,280",25,"2,127","2,441","38,098","112,971",3993,5209,6440,3555,1387,677,318,151,61.0,108.0

In [135]:
df['synonyms'] = df['synonyms'].replace('', np.nan)
df['synonyms'] = df['synonyms'].fillna(df['name'])

In [136]:
df[df['synonyms'] == '']

Empty DataFrame
Columns: [name_english, name, score, ranked, popularity, members, synopsis, synonyms, type_of, total_episodes, premiered, studios, genres, demographic, duration_per_ep, rating, scored_by, favorites, aired, source, watching, completed, on_hold, dropped, plan_to_watch, total, scored_10_by, scored_9_by, scored_8_by, scored_7_by, scored_6_by, scored_5_by, scored_4_by, scored_3_by, scored_2_by, scored_1_by]
Index: []

# type_of:-

In [137]:
df['type_of'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: type_of
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [138]:
df['type_of'].unique()

array(['TV', 'Movie', 'OVA', 'TV Special', 'ONA', 'Special'], dtype=object)

In [139]:
df['type_of'].value_counts()

type_of
TV            1183
Movie          502
OVA            216
ONA            165
Special        130
TV Special      53
Name: count, dtype: int64

In [140]:
type(df['type_of'][1])

str

# total_episodes:-

In [141]:
df['total_episodes'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: total_episodes
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [142]:
df['total_episodes'].sample(5)

1906    2
174     1
163     1
750     1
2103    1
Name: total_episodes, dtype: object

In [143]:
df['total_episodes'][1]

'64'

In [144]:
df['total_episodes'].unique()

array(['28', '64', '24', '51', '10', '1', '148', '13', '110', '12', '201',
       '22', '25', '2', '14', '74', '7', '23', '26', '16', '75', '11',
       '47', 'Unknown', '4', '43', '27', '37', '39', '101', '8', '99',
       '112', '6', '120', '62', '15', '50', '20', '17', '40', '33', '79',
       '94', '3', '500', '52', '78', '77', '96', '70', '291', '38', '170',
       '237', '203', '104', '63', '102', '21', '45', '5', '103', '49',
       '220', '153', '9', '109', '34', '366', '18', '54', '69', '145',
       '36', '167', '178', '60', '1787', '35', '113', '373', '76', '155',
       '161', '114', '46', '97', '19', '30', '195', '100', '127', '42',
       '358', '61', '31', '142', '48', '182', '73', '87', '53', '115',
       '175', '136', '150', '86', '140', '124', '29', '147', '224', '44',
       '154', '131', '58', '137'], dtype=object)

In [145]:
df['total_episodes'][393]

'Unknown'

In [146]:
df['total_episodes'] = df['total_episodes'].apply(lambda x: int(x) if x != 'Unknown' else np.nan)

In [147]:
df['total_episodes'][393]

nan

# premiered:-

In [148]:
df['premiered'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: premiered
Non-Null Count  Dtype
--------------  -----
1183 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [149]:
df['premiered'].unique()

array(['Fall 2023', 'Spring 2009', 'Spring 2011', 'Spring 2015',
       'Spring 2019', None, 'Fall 2011', 'Fall 2022', 'Fall 2012',
       'Spring 2022', 'Spring 2021', 'Winter 2017', 'Spring 2006',
       'Fall 2008', 'Fall 2017', 'Winter 2024', 'Spring 2008',
       'Summer 2018', 'Spring 2004', 'Summer 2023', 'Spring 2020',
       'Winter 2023', 'Winter 2018', 'Winter 2019', 'Winter 2021',
       'Fall 2016', 'Fall 2000', 'Winter 2022', 'Summer 2013',
       'Spring 1998', 'Summer 2019', 'Fall 2014', 'Fall 1980',
       'Fall 1999', 'Fall 2021', 'Fall 2006', 'Summer 1999',
       'Spring 2014', 'Spring 2023', 'Winter 2009', 'Fall 2005',
       'Summer 2017', 'Summer 2022', 'Winter 2012', 'Spring 2007',
       'Fall 2015', 'Spring 2017', 'Fall 2020', 'Fall 2013', 'Fall 1997',
       'Fall 2018', 'Summer 2011', 'Winter 2016', 'Spring 2010',
       'Fall 1993', 'Spring 2012', 'Spring 2013', 'Spring 2018',
       'Winter 2004', 'Spring 2016', 'Spring 2024', 'Summer 2016',
       'Winter 2008', 'Fall 2019', 'Fall 1992', 'Winter 2015',
       'Fall 2002', 'Summer 2007', 'Winter 2013', 'Winter 2011',
       'Summer 2014', 'Winter 2020', 'Summer 2020', 'Fall 1995',
       'Summer 2009', 'Summer 2021', 'Fall 1979', 'Winter 1995',
       'Winter 2010', 'Summer 2008', 'Summer 2006', 'Spring 1970',
       'Winter 1996', 'Fall 2004', 'Spring 2003', 'Winter 2014',
       'Fall 2007', 'Winter 2007', 'Fall 2003', 'Spring 1990',
       'Spring 1997', 'Spring 1986', 'Fall 2009', 'Winter 2006',
       'Fall 2010', 'Summer 2015', 'Spring 1989', 'Summer 2002',
       'Spring 1978', 'Summer 1998', 'Spring 1988', 'Fall 2001',
       'Spring 1996', 'Spring 2005', 'Spring 2002', 'Summer 2003',
       'Spring 1985', 'Winter 1986', 'Fall 1984', 'Fall 1978',
       'Summer 2005', 'Spring 1987', 'Spring 1994', 'Summer 2012',
       'Fall 1996', 'Fall 1982', 'Winter 1993', 'Fall 1977',
       'Summer 1991', 'Winter 1998', 'Winter 1997', 'Spring 1979',
       'Winter 2002', 'Fall 1983', 'Spring 2001', 'Summer 1996',
       'Fall 1989', 'Winter 2003', 'Winter 1979', 'Spring 1992',
       'Summer 2001', 'Spring 1999', 'Fall 1986', 'Spring 1982',
       'Spring 1991', 'Fall 1981', 'Spring 1995', 'Spring 1993',
       'Summer 2010', 'Spring 1983', 'Winter 1990', 'Spring 2000',
       'Winter 1985', 'Fall 1971', 'Summer 2004', 'Winter 1999',
       'Fall 1998', 'Winter 1991', 'Fall 1974', 'Fall 1994', 'Fall 1990',
       'Winter 1978', 'Fall 1975', 'Fall 1976', 'Fall 1991',
       'Winter 1994', 'Winter 2000', 'Winter 2001', 'Fall 1985',
       'Summer 1980', 'Summer 1984', 'Fall 1968', 'Fall 1987',
       'Summer 1977', 'Winter 1992', 'Winter 1976', 'Winter 1988',
       'Winter 2005', 'Winter 1974'], dtype=object)

In [150]:
df['premiered'].isnull().sum()

1066

In [151]:
df[df['premiered'].isnull()].head(1)

,name_english,name,score,ranked,popularity,members,synopsis,synonyms,type_of,total_episodes,premiered,studios,genres,demographic,duration_per_ep,rating,scored_by,favorites,aired,source,watching,completed,on_hold,dropped,plan_to_watch,total,scored_10_by,scored_9_by,scored_8_by,scored_7_by,scored_6_by,scored_5_by,scored_4_by,scored_3_by,scored_2_by,scored_1_by
5,Gintama: The Very Final,Gintama: The Final,9.04,6,1537,148923,Two years have passed following the Tendoshuu'...,銀魂 THE FINAL,Movie,1.0,None,Bandai Namco Pictures,"[Action, Comedy, Drama, Sci-Fi]",Shounen,1 hr. 44 min.,PG-13 - Teens 13 or older,71362,4273,"Jan 8, 2021",Manga,"6,797","81,366","1,581","1,415","57,764","148,923",40991,14060,7357,3169,1104,556,244,188,320.0,3373.0

In [152]:
type(df['premiered'][5])

NoneType

In [153]:
df['premiered'] = df['premiered'].fillna('dont know')

In [154]:
df['premiered'].isnull().sum()

0

# studios:-

In [155]:
df['studios'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: studios
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [156]:
df['studios'].unique()

array(['Madhouse', 'Bones', 'White Fox', 'Bandai Namco Pictures',
       'Wit Studio', 'Sunrise', 'Pierrot', 'K-Factory', 'A-1 Pictures',
       'TMS Entertainment', 'Kyoto Animation', 'OLM', 'Shaft',
       'Shin-Ei Animation', 'MAPPA', 'CoMix Wave Films', 'CloverWorks',
       'Toei Animation', 'Production I.G', 'Studio Ghibli', 'ufotable',
       'Artland', 'Tokyo Movie Shinsha', 'Studio Deen', 'LAN Studio',
       'Doga Kobo', 'Red Dog Culture House', 'Studio Bind',
       'Kinema Citrus', "Brain's Base", 'Gainax', 'Shuka',
       'Tatsunoko Production', 'Trigger', 'Khara', 'David Production',
       'Studio Chizu', 'Studio VOLN', 'J.C.Staff', 'C-Station',
       'Studio M2', 'Manglobe', '8bit', 'Lerche', 'HAL Film Maker',
       'B.CMAY PICTURES', 'Geno Studio', 'Zero-G', 'Platinum Vision',
       'Nippon Animation', 'SynergySP', 'P.A. Works', 'Orange', 'Nexus',
       'SILVER LINK.', 'Nut', 'Nippon Ramayana Film Co.', 'Topcraft',
       'feel.', 'Haoliners Animation League', 'Gallop', 'TROYCA', 'Xebec',
       'Sparkly Key Animation Studio', 'Gonzo', 'Mushi Production',
       'Sharefun Studio', 'Tezuka Productions', 'SANZIGEN', 'Ajia-do',
       'A.C.G.T.', 'Actas', 'Passione', 'Telescreen',
       'Samsara Animation Studio', 'Studio Hibari', 'Imagin',
       'Studio 4°C', 'Science SARU', 'LIDENFILMS', 'Satelight',
       'Yumeta Company', 'Hololive Production', 'Shirogumi', 'Pastel',
       'CLAP', 'Telecom Animation Film', 'TYO Animations', 'Seven Arcs',
       'Colored Pencil Animation', 'Motion Magic', 'C2C', 'Studio Kai',
       'Triangle Staff', 'Shenman Entertainment', 'Drive',
       'Kitty Film Mitaka Studio', 'E&H Production',
       'Bibury Animation Studios', 'APPP', 'HMCH', 'E&G Films',
       'domerica', 'Oh! Production', 'Group TAC', 'Studio Rikka',
       'Bee Train', 'Studio Gokumi', 'Studio Comet', 'Radix', 'M.S.C',
       'add some', 'Encourage Films', 'ABJ COMPANY', 'Production IMS',
       'Square Enix Visual Works', 'Hoods Entertainment', 'Flat Studio',
       'Lapin Track', 'Studio Kafka', 'Tokyo Kids', 'CygamesPictures',
       'Trans Arts', 'BUG FILMS', 'Pierrot Plus', 'GoHands', 'Lay-duce',
       'Fenz', 'NAZ', 'AIC ASTA', 'Project No.9', 'Fanworks',
       'AtelierPontdarc', 'Anpro', 'BUILD DREAM', 'Phoenix Entertainment',
       'production doA', 'Geek Toys', 'Daume', 'Arms',
       'DC Impression Vision', 'Djinn Power', 'AIC Spirits', 'PINE JAM',
       'Asahi Production', 'Nomad', 'Polygon Pictures', 'Okuruto Noboru',
       'Studio Blanc.', 'Zexcs', 'dwarf', 'AIC Classic',
       'Larx Entertainment', 'Bee Media', 'Bridge', 'Magic Bus',
       'Foch Films', 'Studio 3Hz', 'Palm Studio', 'Original Force', 'AIC',
       'I.Gzwei', 'Studio Moriken', 'studio MOTHER', 'Yostar Pictures',
       'Liber', 'Big Firebird Culture', 'Paper Plane Animation Studio',
       'Felix Film', 'The Answer Studio', 'Connect', 'Ezόla',
       'Studio Massket', 'Yaoyorozu', 'asread.', 'October Media',
       'Studio Colorido', 'Passion Paint Animation',
       'Seven Arcs Pictures', 'Signal.MD', 'Fuji TV', 'Studio PuYUKAI',
       'Studio Signpost', 'Kamikaze Douga', 'Typhoon Graphics',
       'CMC Media', 'HuaMei Animation', 'Grouper Productions',
       'Graphinica', 'Ruo Hong Culture', 'Liyu Culture', 'Diomedéa',
       'Eiken', 'Ashi Productions', 'L²Studio', 'Bakken Record', 'B&T',
       'DandeLion Animation Studio', 'Sunrise Beyond', 'TNK', 'CG Year',
       'Studio Mir', 'Millepensee', 'Oriental Creative Color',
       'Studio Daisy', 'Light Chaser Animation Studios', 'ENGI', 'Gaina',
       'JCF', 'Sunflowers', 'Ordet', 'Cloud Art'], dtype=object)

# genres, demogrsphic:-

In [157]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk import pos_tag

## rules_dict:-

In [158]:
# Define rules to map keywords to genres
genre_rules = {
    'action': ['action', 'battle', 'fight', 'combat', 'hero', 'adventure', 'explosive', 'dungeon','hunters', 'skirmish'],
    'adventure': ['adventure', 'journey', 'quest', 'explore', 'travel', 'discovery', 'epic'],
    'comedy': ['comedy', 'humor', 'funny', 'laugh', 'comical', 'satire', 'light-hearted', 'parody'],
    'drama': ['drama', 'emotion', 'relationship', 'heartfelt', 'intense', 'dramatic', 'tearjerker', 'heart break'],
    'fantasy': ['fantasy', 'magic', 'mythical', 'magical', 'enchantment', 'fantastical', 'otherworldly', 'elves'],
    'science fiction': ['science fiction', 'futuristic', 'space', 'alien', 'technology', 'cyberpunk', 'dystopian'],
    'romance': ['romance', 'love', 'relationship', 'romantic', 'passion', 'heartwarming', 'love triangle'],
    'horror': ['horror', 'fear', 'terror', 'creepy', 'supernatural', 'haunting', 'nightmare'],
    'mystery': ['mystery', 'detective', 'investigation', 'suspense', 'whodunit', 'mysterious', 'puzzle'],
    'thriller': ['thriller', 'suspenseful', 'intense', 'adrenaline', 'danger', 'action-packed'],
    'slice of life': ['slice of life', 'everyday', 'ordinary', 'real-life', 'routine', 'relatable', 'mundane'],
    'supernatural': ['supernatural', 'paranormal', 'occult', 'spiritual', 'mystical', 'otherworldly'],
    'mecha': ['mecha', 'giant robot', 'pilot', 'mechanical', 'robotic', 'mecha battles', 'robots'],
    'shounen': ['shounen', 'young boy', 'teenage protagonist', 'fighting', 'friendship', 'action-packed'],
    'shoujo': ['shoujo', 'young girl', 'teenage protagonist', 'romantic', 'friendship', 'heartwarming'],
    'seinen': ['seinen', 'adult', 'mature themes', 'dark', 'psychological', 'gritty'],
    'josei': ['josei', 'adult woman', 'mature themes', 'romantic', 'slice of life', 'emotional'],
    'psychological': ['psychological', 'mind', 'psyche', 'mental', 'mind games', 'trauma'],
    'sports': ['sports', 'athletic', 'competition', 'team', 'individual', 'sportsmanship'],
    'historical': ['historical', 'period', 'era', 'retro', 'vintage', 'historic event'],
    'music': ['music', 'musical', 'band', 'concert', 'performing arts', 'melody'],
    'school': ['school', 'high school', 'student', 'classmate', 'teacher', 'teenage'],
    'ecchi': ['ecchi', 'sexual humor', 'fan service', 'suggestive', 'provocative', 'sexy'],
    'harem': ['harem', 'multiple love interests', 'romantic rivalry', 'love triangle', 'romantic comedy'],
    'magical girl': ['magical girl', 'transformation', 'magical powers', 'cute', 'friendship', 'magical creature'],
    'isekai': ['isekai', 'other world', 'transported', 'reincarnation', 'fantasy world', 'parallel universe', 'reincarnated'],
    'cyberpunk': ['cyberpunk', 'high tech', 'low life', 'cyberspace', 'neon lights', 'dystopian'],
    'post-apocalyptic': ['post-apocalyptic', 'apocalypse', 'wasteland', 'survival', 'dystopia', 'rebuilding'],
    'martial arts': ['martial arts', 'combat', 'martial artist', 'dojo', 'tournament', 'training']
}
# Define rules to map genres to demographic categories
genre_to_demographic = {
    'shounen': ['action', 'adventure', 'comedy', 'fantasy', 'science fiction', 'horror', 'mystery', 'thriller', 'slice of life', 'supernatural', 'mecha', 'sports', 'historical', 'music', 'school', 'ecchi', 'harem', 'isekai', 'post-apocalyptic', 'martial arts'],
    'shoujo': ['adventure', 'comedy', 'drama', 'fantasy', 'romance', 'slice of life', 'supernatural', 'music', 'school', 'magical girl'],
    'seinen': ['action', 'adventure', 'comedy', 'drama', 'fantasy', 'science fiction', 'romance', 'horror', 'mystery', 'thriller', 'slice of life', 'supernatural', 'psychological', 'sports', 'historical', 'music', 'school', 'ecchi', 'harem', 'isekai', 'cyberpunk', 'post-apocalyptic', 'martial arts'],
    'josei': ['comedy', 'drama', 'romance', 'slice of life', 'school']
}
# Define rules to map genres to demographic categories
demographic_rules = {
    'action': ['shounen', 'shoujo', 'seinen'],
    'adventure': ['shounen', 'shoujo', 'seinen'],
    'comedy': ['shounen', 'shoujo', 'seinen', 'josei'],
    'drama': ['shoujo', 'seinen', 'josei'],
    'fantasy': ['shounen', 'shoujo', 'seinen'],
    'science fiction': ['shounen', 'seinen'],
    'romance': ['shoujo', 'josei'],
    'horror': ['shounen', 'seinen'],
    'mystery': ['shounen', 'seinen'],
    'thriller': ['shounen', 'seinen'],
    'slice of life': ['shoujo', 'seinen', 'josei'],
    'supernatural': ['shounen', 'shoujo', 'seinen'],
    'mecha': ['shounen'],
    'psychological': ['seinen'],
    'sports': ['shounen', 'shoujo', 'seinen'],
    'historical': ['shounen', 'seinen'],
    'music': ['shounen', 'shoujo', 'seinen'],
    'school': ['shounen', 'shoujo', 'seinen', 'josei'],
    'ecchi': ['shounen', 'seinen'],
    'harem': ['shounen', 'seinen'],
    'magical girl': ['shoujo'],
    'isekai': ['shounen', 'seinen'],
    'cyberpunk': ['seinen'],
    'post-apocalyptic': ['shounen', 'seinen'],
    'martial arts': ['shounen', 'seinen']
}

## ..

In [159]:
synopsis = "Two years have passed following the Tendoshuu's invasion of the O-Edo Central Terminal. Since then, the Yorozuya have gone their separate ways. Foreseeing Utsuro's return, Gintoki Sakata begins surveying Earth's ley lines for traces of the other man's Altana. After an encounter with the remnants of the Tendoshuu\u2014who continue to press on in search of immortality\u2014Gintoki returns to Edo. Later, the regrouped Shinsengumi and Yorozuya begin an attack on the occupied Central Terminal. With the Altana harvested by the wreckage of the Tendoshuu's ship in danger of detonating, the Yorozuya and their allies fight their enemies while the safety of Edo\u2014and the rest of the world\u2014hangs in the balance. Fulfilling the wishes of their teacher, Shouyou Yoshida's former students unite and relive their pasts one final time in an attempt to save their futures."

tokens = word_tokenize(synopsis)
stop_words = set(stopwords.words('english'))
filtered_tokens = [word for word in tokens if word.lower() not in stop_words]
tagged_tokens = pos_tag(filtered_tokens)
keywords = [word for word, tag in tagged_tokens if tag.startswith('NN') or tag.startswith('JJ')]



matched_genres = []

for keyword in keywords:
    for genre, rules in genre_rules.items():
        if any(rule in keyword.lower() for rule in rules):
            matched_genres.append(genre)


print(matched_genres)

['thriller', 'school']

In [160]:
df['genres']

0                   [Adventure, Drama, Fantasy]
1           [Action, Adventure, Drama, Fantasy]
2                     [Drama, Sci-Fi, Suspense]
3                      [Action, Comedy, Sci-Fi]
4                     [Action, Drama, Suspense]
                         ...
2244                                         []
2245    [Action, Horror, Mystery, Supernatural]
2246                           [Action, Sci-Fi]
2247                                         []
2248                           [Action, Sci-Fi]
Name: genres, Length: 2249, dtype: object

In [161]:
df['genres'] = df['genres'].apply(lambda x: np.nan if len(x) == 0 else x)

In [162]:
df['genres'].isnull().sum()

533

In [163]:
df['demographic'].isnull().sum()

1163

In [164]:
both_isnull = df['genres'].isna() & df['demographic'].isna()
both_isnull.sum()

252

# duration_per_ep:-

In [165]:
df['duration_per_ep'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: duration_per_ep
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [166]:
df['duration_per_ep'].unique()

array(['24 min. per ep.', '23 min. per ep.', '1 hr. 44 min.',
       '26 min. per ep.', '2 hr. 10 min.', '22 min. per ep.',
       '25 min. per ep.', '1 hr. 12 min. per ep.', '1 hr. 50 min.',
       '2 hr. 20 min.', '1 hr. 46 min.', '2 hr. 4 min.', '1 hr. 36 min.',
       '1 hr. 23 min.', '24 min.', '29 min. per ep.', '30 min. per ep.',
       '2 hr. 2 min.', '1 hr. 59 min.', '2 hr. 13 min.', '1 hr. 45 min.',
       '2 hr. 41 min.', '1 hr. 56 min.', '47 min.', '1 hr. 30 min.',
       '2 hr. 35 min.', '2 hr. 5 min.', '1 hr. 4 min.', '1 hr. 57 min.',
       '1 hr. 26 min.', '1 hr. 48 min.', '2 hr.', '1 hr. 21 min.',
       '45 min.', '1 hr. 54 min.', '1 hr. 1 min. per ep.',
       '1 hr. 35 min.', '1 hr. 28 min.', '1 hr. 13 min.',
       '28 min. per ep.', '1 hr. 36 min. per ep.', '27 min. per ep.',
       '5 min. per ep.', '1 hr. 31 min.', '1 hr. 38 min.',
       '1 hr. 55 min.', '2 hr. 1 min.', '1 hr. 49 min.', '2 hr. 15 min.',
       '10 min.', '49 min. per ep.', '34 min.', '1 hr. 11 min. per ep.',
       '21 min.', '22 min.', '51 min.', '50 min. per ep.',
       '21 min. per ep.', '1 hr. 52 min.', '16 min. per ep.',
       '1 hr. 47 min.', '1 hr. 32 min.', '1 hr. 42 min.', '1 hr.',
       '11 min.', '54 min.', '1 hr. 22 min.', '1 hr. 43 min.',
       '1 hr. 40 min.', '1 hr. 1 min.', '1 hr. 33 min.', '1 hr. 11 min.',
       '1 hr. 15 min.', '1 hr. 25 min. per ep.', '38 min. per ep.',
       '2 hr. 48 min.', '2 hr. 11 min.', '1 hr. 51 min.', '55 min.',
       '2 hr. 17 min.', '1 hr. 41 min.', '1 hr. 12 min.',
       '34 min. per ep.', '20 min. per ep.', '1 hr. 34 min.', '1 min.',
       '25 min.', '48 min.', '12 min.', '1 hr. 29 min.', '1 hr. 39 min.',
       '49 min.', '59 min.', '1 hr. 5 min.', '57 min.', '2 hr. 29 min.',
       '2 hr. 6 min.', '14 min. per ep.', '1 hr. 2 min. per ep.',
       '23 min.', '32 min. per ep.', '32 min.', '14 min.',
       '2 hr. 40 min.', '58 min. per ep.', '43 min. per ep.',
       '1 hr. 10 min.', '15 min. per ep.', '1 hr. 53 min.', '28 min.',
       '33 min. per ep.', '2 min. per ep.', '30 min.', '18 min. per ep.',
       '11 min. per ep.', '1 hr. 37 min.', '2 min.', '42 min. per ep.',
       '1 hr. 17 min.', '1 hr. 9 min.', '18 min.', '19 min. per ep.',
       '27 min.', '29 min.', '39 min.', '46 min.', '53 min.', '58 min.',
       '1 hr. 3 min.', '2 hr. 16 min.', '50 min.', '4 min. per ep.',
       '1 hr. 6 min.', '13 min. per ep.', '3 min. per ep.', '26 min.',
       '42 min.', '51 min. per ep.', '41 min.', '1 hr. 2 min.',
       '46 min. per ep.', '1 hr. 58 min.', '1 hr. 30 min. per ep.',
       '1 hr. 18 min.', '52 min.', '15 min.', '1 hr. 27 min.',
       '2 hr. 7 min.', '1 hr. 20 min.', '45 min. per ep.',
       '37 min. per ep.', '1 hr. 7 min.', '37 min.', '1 hr. 16 min.',
       '1 hr. 52 min. per ep.', '39 min. per ep.', '12 min. per ep.',
       '31 min.', '7 min. per ep.', '54 min. per ep.',
       '1 hr. 20 min. per ep.', '2 hr. 12 min.', '1 hr. 25 min.',
       '40 min.', '20 min.', '8 min. per ep.', '1 min. per ep.', '3 min.',
       '2 hr. 3 min.', '6 min. per ep.', '8 min.', '16 min.',
       '17 min. per ep.', '1 hr. 24 min.', '2 hr. 8 min.',
       '1 hr. 39 min. per ep.', '13 min.', '2 hr. 21 min.',
       '1 hr. 19 min.', '1 hr. 5 min. per ep.', '56 min.',
       '53 min. per ep.', '4 min.', '9 min.', '35 min. per ep.',
       '31 min. per ep.', '5 min.', '2 hr. 24 min.', '10 min. per ep.',
       '1 hr. 38 min. per ep.'], dtype=object)

In [167]:
import re

In [168]:
text = '2 hr. 2 min.'
text_1 = '24 min. per ep.'
text_2 = '1 hr. 51 min.'
text_3 = '49 min.'
text_4 = '4 min.'

In [169]:
pattern = re.compile("(\d{1}) hr. (\d{,2}) min.|(\d{,2}) min.")
print(re.findall(pattern, text))
print(re.findall(pattern, text_1))
print(re.findall(pattern, text_2))
print(re.findall(pattern, text_3))
print(re.findall(pattern, text_4))

[('2', '2', '')]
[('', '', '24')]
[('1', '51', '')]
[('', '', '49')]
[('', '', '4')]

In [170]:
df_test = pd.DataFrame(df['duration_per_ep'])

# Define the extract_duration function
def extract_duration(text):

    pattern = "(\d{1}) hr. (\d{,2}) min.|(\d{,2}) min."
    match = re.match(pattern, text)
    
    if match == None:
        pattern = "(\d{1}) hr."
        match = re.match(pattern, text)
        return 60 * int(match.group(1)) if match.group(1) else 0
    
    hours = int(match.group(1)) if match.group(1) else 0
    minutes = int(match.group(2)) if match.group(2) else 0
    minutes_1 = int(match.group(3)) if match.group(3) else 0
    total_minutes = hours * 60 + minutes + minutes_1
    return total_minutes

In [171]:
extract_duration('2 hr. 20 min.')

140

In [172]:
df_test['duration_per_ep'] = df_test['duration_per_ep'].apply(extract_duration)
df['duration_per_ep'] = df['duration_per_ep'].apply(extract_duration)

In [173]:
extract_duration('1 hr. 51 min.')

111

In [174]:
df['duration_per_ep'].sample(3)

595     20
100     22
1006    24
Name: duration_per_ep, dtype: int64

In [175]:
df[df['duration_per_ep'] == '']

Empty DataFrame
Columns: [name_english, name, score, ranked, popularity, members, synopsis, synonyms, type_of, total_episodes, premiered, studios, genres, demographic, duration_per_ep, rating, scored_by, favorites, aired, source, watching, completed, on_hold, dropped, plan_to_watch, total, scored_10_by, scored_9_by, scored_8_by, scored_7_by, scored_6_by, scored_5_by, scored_4_by, scored_3_by, scored_2_by, scored_1_by]
Index: []

# rating:-

In [176]:
df['rating'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: rating
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [177]:
df['rating'].unique()

array(['PG-13 - Teens 13 or older', 'R - 17+ (violence & profanity)',
       'R+ - Mild Nudity', 'PG - Children', 'G - All Ages'], dtype=object)

# scored_by:-

In [178]:
df['scored_by'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: scored_by
Non-Null Count  Dtype
--------------  -----
2249 non-null   int64
dtypes: int64(1)
memory usage: 17.7 KB

# favorites:-

In [179]:
df['favorites'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: favorites
Non-Null Count  Dtype
--------------  -----
2249 non-null   int64
dtypes: int64(1)
memory usage: 17.7 KB

# aired:-

In [180]:
df['aired'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: aired
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [181]:
df[df['aired']=='']

Empty DataFrame
Columns: [name_english, name, score, ranked, popularity, members, synopsis, synonyms, type_of, total_episodes, premiered, studios, genres, demographic, duration_per_ep, rating, scored_by, favorites, aired, source, watching, completed, on_hold, dropped, plan_to_watch, total, scored_10_by, scored_9_by, scored_8_by, scored_7_by, scored_6_by, scored_5_by, scored_4_by, scored_3_by, scored_2_by, scored_1_by]
Index: []

# source:-

In [182]:
df['source'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: source
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [183]:
df['source'].unique()

array(['Manga', 'Visual novel', 'Novel', 'Light novel', 'Original',
       '4-koma manga', 'Web manga', 'Web novel', 'Game', 'Other',
       'Mixed media', 'Book', 'Unknown', 'Music', 'Picture book',
       'Card game'], dtype=object)

# watching:-

In [184]:
df['watching'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: watching
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [185]:
df[df['watching']=='']

Empty DataFrame
Columns: [name_english, name, score, ranked, popularity, members, synopsis, synonyms, type_of, total_episodes, premiered, studios, genres, demographic, duration_per_ep, rating, scored_by, favorites, aired, source, watching, completed, on_hold, dropped, plan_to_watch, total, scored_10_by, scored_9_by, scored_8_by, scored_7_by, scored_6_by, scored_5_by, scored_4_by, scored_3_by, scored_2_by, scored_1_by]
Index: []

In [186]:
def process_int(x):
    x = x.replace(',','')
    x = int(x)
    return x

In [187]:
df['watching'] = df['watching'].apply(process_int)

# completed:-

In [188]:
df['completed'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: completed
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [189]:
df['completed'] = df['completed'].apply(process_int)

In [190]:
df['completed'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: completed
Non-Null Count  Dtype
--------------  -----
2249 non-null   int64
dtypes: int64(1)
memory usage: 17.7 KB

# on_hold:-

In [191]:
df['on_hold'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: on_hold
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [192]:
df['on_hold'] = df['on_hold'].apply(process_int)

In [193]:
df['on_hold'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: on_hold
Non-Null Count  Dtype
--------------  -----
2249 non-null   int64
dtypes: int64(1)
memory usage: 17.7 KB

# dropped:-

In [194]:
df['dropped'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: dropped
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [195]:
df['dropped'] = df['dropped'].apply(process_int)

In [196]:
df['dropped'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: dropped
Non-Null Count  Dtype
--------------  -----
2249 non-null   int64
dtypes: int64(1)
memory usage: 17.7 KB

# plan_to_watch:-

In [197]:
df['plan_to_watch'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: plan_to_watch
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [198]:
df['plan_to_watch'] = df['plan_to_watch'].apply(process_int)

In [199]:
df['plan_to_watch'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: plan_to_watch
Non-Null Count  Dtype
--------------  -----
2249 non-null   int64
dtypes: int64(1)
memory usage: 17.7 KB

# total:-

In [200]:
df['total'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: total
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [201]:
df['total'] = df['total'].apply(process_int)

In [202]:
df['total'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: total
Non-Null Count  Dtype
--------------  -----
2249 non-null   int64
dtypes: int64(1)
memory usage: 17.7 KB

# scored_10_by - scored_1_by:-

In [203]:
for i in range(1,11):
    col = f"scored_{i}_by"
    df[col] = df[col].fillna(0)

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249 entries, 0 to 2248
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name_english     2249 non-null   object
 1   name             2249 non-null   object
 2   score            2249 non-null   float64
 3   ranked           2249 non-null   int64
 4   popularity       2249 non-null   int64
 5   members          2249 non-null   int64
 6   synopsis         2249 non-null   object
 7   synonyms         2249 non-null   object
 8   type_of          2249 non-null   object
 9   total_episodes   2238 non-null   float64
 10  premiered        2249 non-null   object
 11  studios          2249 non-null   object
 12  genres           1716 non-null   object
 13  demographic      1086 non-null   object
 14  duration_per_ep  2249 non-null   int64
 15  rating           2249 non-null   object
 16  scored_by        2249 non-null   int64
 17  favorites        2249 non-null   int64
 18  aired            2249 non-null   object
 19  source           2249 non-null   object
 20  watching         2249 non-null   int64
 21  completed        2249 non-null   int64
 22  on_hold          2249 non-null   int64
 23  dropped          2249 non-null   int64
 24  plan_to_watch    2249 non-null   int64
 25  total            2249 non-null   int64
 26  scored_10_by     2249 non-null   int64
 27  scored_9_by      2249 non-null   int64
 28  scored_8_by      2249 non-null   int64
 29  scored_7_by      2249 non-null   int64
 30  scored_6_by      2249 non-null   int64
 31  scored_5_by      2249 non-null   int64
 32  scored_4_by      2249 non-null   int64
 33  scored_3_by      2249 non-null   int64
 34  scored_2_by      2249 non-null   float64
 35  scored_1_by      2249 non-null   float64
dtypes: float64(4), int64(20), object(12)
memory usage: 632.7+ KB

In [205]:
df['scored_1_by'] = df['scored_1_by'].astype(int)
df['scored_2_by'] = df['scored_2_by'].astype(int)

In [206]:
df['total_episodes'] = df['total_episodes'].fillna(0)
df['total_episodes'] = df['total_episodes'].astype(int)

In [207]:
df.to_csv('test_data_pre_processed.csv', index=False)

In [208]:
df['total_episodes'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: total_episodes
Non-Null Count  Dtype
--------------  -----
2249 non-null   int32
dtypes: int32(1)
memory usage: 8.9 KB

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249 entries, 0 to 2248
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name_english     2249 non-null   object
 1   name             2249 non-null   object
 2   score            2249 non-null   float64
 3   ranked           2249 non-null   int64
 4   popularity       2249 non-null   int64
 5   members          2249 non-null   int64
 6   synopsis         2249 non-null   object
 7   synonyms         2249 non-null   object
 8   type_of          2249 non-null   object
 9   total_episodes   2249 non-null   int32
 10  premiered        2249 non-null   object
 11  studios          2249 non-null   object
 12  genres           1716 non-null   object
 13  demographic      1086 non-null   object
 14  duration_per_ep  2249 non-null   int64
 15  rating           2249 non-null   object
 16  scored_by        2249 non-null   int64
 17  favorites        2249 non-null   int64
 18  aired            2249 non-null   object
 19  source           2249 non-null   object
 20  watching         2249 non-null   int64
 21  completed        2249 non-null   int64
 22  on_hold          2249 non-null   int64
 23  dropped          2249 non-null   int64
 24  plan_to_watch    2249 non-null   int64
 25  total            2249 non-null   int64
 26  scored_10_by     2249 non-null   int64
 27  scored_9_by      2249 non-null   int64
 28  scored_8_by      2249 non-null   int64
 29  scored_7_by      2249 non-null   int64
 30  scored_6_by      2249 non-null   int64
 31  scored_5_by      2249 non-null   int64
 32  scored_4_by      2249 non-null   int64
 33  scored_3_by      2249 non-null   int64
 34  scored_2_by      2249 non-null   int32
 35  scored_1_by      2249 non-null   int32
dtypes: float64(1), int32(3), int64(20), object(12)
memory usage: 606.3+ KB