In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [4]:
pd.set_option('display.max_colwidth', None)
display.max_characters = None

In [5]:
df_raw = pd.read_json(r"C:\Users\22213\OneDrive\Desktop\recani\sorted_data.json")

In [6]:
pd.set_option('display.max_columns', None)
pd.reset_option('display.max_colwidth')

In [7]:
df = df_raw.drop(columns=['name_english', 'name', 'ranked', 'score', 'synonyms'], axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249 entries, 0 to 2248
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   popularity       2249 non-null   int64
 1   members          2249 non-null   int64
 2   synopsis         2249 non-null   object
 3   type_of          2249 non-null   object
 4   total_episodes   2249 non-null   object
 5   premiered        1183 non-null   object
 6   studios          2249 non-null   object
 7   genres           2249 non-null   object
 8   demographic      1086 non-null   object
 9   duration_per_ep  2249 non-null   object
 10  rating           2249 non-null   object
 11  scored_by        2249 non-null   int64
 12  favorites        2249 non-null   int64
 13  aired            2249 non-null   object
 14  source           2249 non-null   object
 15  watching         2249 non-null   object
 16  completed        2249 non-null   object
 17  on_hold          2249 non-null   object
 18  dropped          2249 non-null   object
 19  plan_to_watch    2249 non-null   object
 20  total            2249 non-null   object
 21  scored_10_by     2249 non-null   int64
 22  scored_9_by      2249 non-null   int64
 23  scored_8_by      2249 non-null   int64
 24  scored_7_by      2249 non-null   int64
 25  scored_6_by      2249 non-null   int64
 26  scored_5_by      2249 non-null   int64
 27  scored_4_by      2249 non-null   int64
 28  scored_3_by      2249 non-null   int64
 29  scored_2_by      2247 non-null   float64
 30  scored_1_by      2243 non-null   float64
dtypes: float64(2), int64(12), object(17)
memory usage: 544.8+ KB

In [9]:
df.isnull().sum()

popularity            0
members               0
synopsis              0
type_of               0
total_episodes        0
premiered          1066
studios               0
genres                0
demographic        1163
duration_per_ep       0
rating                0
scored_by             0
favorites             0
aired                 0
source                0
watching              0
completed             0
on_hold               0
dropped               0
plan_to_watch         0
total                 0
scored_10_by          0
scored_9_by           0
scored_8_by           0
scored_7_by           0
scored_6_by           0
scored_5_by           0
scored_4_by           0
scored_3_by           0
scored_2_by           2
scored_1_by           6
dtype: int64

In [10]:
def synopsis_preprocessing(s):
    s = str(s)
    s = s.split(' ')
    s = ' '.join(s)
    s = s.split('.')[0:-1]
    s = ' '.join(s)
    
    return s + '.'

In [11]:
df['synopsis'] = df['synopsis'].apply(synopsis_preprocessing)

In [12]:
df['type_of'].value_counts()

type_of
TV            1183
Movie          502
OVA            216
ONA            165
Special        130
TV Special      53
Name: count, dtype: int64

In [23]:
type(df['type_of'][1])

str

In [25]:
df['total_episodes'].sample(10)

1418     1
647     24
1515    16
363      1
1148    13
1511     1
1475    13
1727     2
1269    13
1033    12
Name: total_episodes, dtype: object

In [29]:
df['total_episodes'][1]

'64'

In [33]:
df['total_episodes'].unique()

array(['28', '64', '24', '51', '10', '1', '148', '13', '110', '12', '201',
       '22', '25', '2', '14', '74', '7', '23', '26', '16', '75', '11',
       '47', 'Unknown', '4', '43', '27', '37', '39', '101', '8', '99',
       '112', '6', '120', '62', '15', '50', '20', '17', '40', '33', '79',
       '94', '3', '500', '52', '78', '77', '96', '70', '291', '38', '170',
       '237', '203', '104', '63', '102', '21', '45', '5', '103', '49',
       '220', '153', '9', '109', '34', '366', '18', '54', '69', '145',
       '36', '167', '178', '60', '1787', '35', '113', '373', '76', '155',
       '161', '114', '46', '97', '19', '30', '195', '100', '127', '42',
       '358', '61', '31', '142', '48', '182', '73', '87', '53', '115',
       '175', '136', '150', '86', '140', '124', '29', '147', '224', '44',
       '154', '131', '58', '137'], dtype=object)

In [49]:
df['total_episodes'][393]

0

In [48]:
df['total_episodes'] = df['total_episodes'].apply(lambda x: int(x) if x != 'Unknown' else 0)

In [51]:
df['total_episodes'][393]

0

In [67]:
df['genres']

0                   [Adventure, Drama, Fantasy]
1           [Action, Adventure, Drama, Fantasy]
2                     [Drama, Sci-Fi, Suspense]
3                      [Action, Comedy, Sci-Fi]
4                     [Action, Drama, Suspense]
                         ...
2244                                         []
2245    [Action, Horror, Mystery, Supernatural]
2246                           [Action, Sci-Fi]
2247                                         []
2248                           [Action, Sci-Fi]
Name: genres, Length: 2249, dtype: object

In [77]:
df['genres'] = df['genres'].apply(lambda x: np.nan if len(x) == 0 else x)

In [80]:
df['genres'].isnull().sum()

533

In [93]:
df['demographic'].isnull().sum()

1163

In [91]:
both_isnull = df['genres'].isna() & df['demographic'].isna()
both_isnull.sum()

252