In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [2]:
pd.set_option('display.max_colwidth', None)
display.max_characters = None

In [37]:
df = pd.read_json(r"C:\Users\22213\OneDrive\Desktop\recani\sorted_data.json")

In [4]:
pd.set_option('display.max_columns', None)
pd.reset_option('display.max_colwidth')

In [5]:
df.isnull().sum()

name_english        437
name                  0
score                 0
ranked                0
popularity            0
members               0
synopsis              0
synonyms              0
type_of               0
total_episodes        0
premiered          1066
studios               0
genres                0
demographic        1163
duration_per_ep       0
rating                0
scored_by             0
favorites             0
aired                 0
source                0
watching              0
completed             0
on_hold               0
dropped               0
plan_to_watch         0
total                 0
scored_10_by          0
scored_9_by           0
scored_8_by           0
scored_7_by           0
scored_6_by           0
scored_5_by           0
scored_4_by           0
scored_3_by           0
scored_2_by           2
scored_1_by           6
dtype: int64

# name_english, name:-

In [25]:
df['name_english'].isnull().sum()

437

In [32]:
df['name_english'].isna().sum()

437

In [31]:
df['name_english'].sample(10)

2040                                                 None
1977                                                 None
1426                                        Utawarerumono
1233                                                 None
1947           Fist of the North Star: Legend of Kenshiro
2107    Hakuoki: Demon of the Fleeting Blossom - Dawn ...
745                                                  None
37      Kaguya-sama: Love is War - The First Kiss That...
2167                                The Morose Mononokean
1367                                             Poyopoyo
Name: name_english, dtype: object

In [33]:
type(df['name_english'][462])

NoneType

In [38]:
df['name_english'] = df['name_english'].fillna(df['name'])

In [34]:
df['name_english'].isnull().sum()

0

# score:-

In [35]:
df['score'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: score
Non-Null Count  Dtype
--------------  -----
2249 non-null   float64
dtypes: float64(1)
memory usage: 17.7 KB

In [36]:
df['score'].isnull().sum()

0

In [61]:
df['score'].unique()

array([9.39, 9.09, 9.07, 9.06, 9.05, 9.04, 9.03, 9.02, 9.01, 8.98, 8.94,
       8.93, 8.92, 8.91, 8.9 , 8.88, 8.87, 8.84, 8.82, 8.81, 8.79, 8.78,
       8.77, 8.76, 8.75, 8.74, 8.73, 8.72, 8.71, 8.7 , 8.69, 8.68, 8.67,
       8.66, 8.65, 8.64, 8.63, 8.62, 8.61, 8.6 , 8.59, 8.58, 8.57, 8.56,
       8.55, 8.54, 8.53, 8.52, 8.51, 8.5 , 8.49, 8.48, 8.47, 8.46, 8.45,
       8.44, 8.43, 8.42, 8.41, 8.4 , 8.39, 8.38, 8.37, 8.36, 8.35, 8.34,
       8.33, 8.32, 8.31, 8.3 , 8.29, 8.28, 8.27, 8.26, 8.25, 8.24, 8.23,
       8.22, 8.21, 8.2 , 8.19, 8.18, 8.17, 8.16, 8.15, 8.14, 8.13, 8.12,
       8.11, 8.1 , 8.09, 8.08, 8.07, 8.06, 8.05, 8.04, 8.03, 8.02, 8.01,
       8.  , 7.99, 7.98, 7.97, 7.96, 7.95, 7.94, 7.93, 7.92, 7.91, 7.9 ,
       7.89, 7.88, 7.87, 7.86, 7.85, 7.84, 7.83, 7.82, 7.81, 7.8 , 7.79,
       7.78, 7.77, 7.76, 7.75, 7.74, 7.73, 7.72, 7.71, 7.7 , 7.69, 7.68,
       7.67, 7.66, 7.65, 7.64, 7.63, 7.62, 7.61, 7.6 , 7.59, 7.58, 7.57,
       7.56, 7.55, 7.54, 7.53, 7.52, 7.51, 7.5 , 7.49, 7.48, 7.47, 7.46,
       7.45, 7.44, 7.43, 7.42, 7.41, 7.4 , 7.39])

# ranked:-

In [37]:
df['ranked'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: ranked
Non-Null Count  Dtype
--------------  -----
2249 non-null   int64
dtypes: int64(1)
memory usage: 17.7 KB

# popularity:-

In [38]:
df['popularity'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: popularity
Non-Null Count  Dtype
--------------  -----
2249 non-null   int64
dtypes: int64(1)
memory usage: 17.7 KB

# members:-

In [40]:
df['members'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: members
Non-Null Count  Dtype
--------------  -----
2249 non-null   int64
dtypes: int64(1)
memory usage: 17.7 KB

# synopsis:-

In [10]:
def synopsis_preprocessing(s):
    s = str(s)
    s = s.split(' ')
    s = ' '.join(s)
    s = s.split('.')[0:-1]
    s = ' '.join(s)
    
    return s + '.'

In [11]:
df['synopsis'] = df['synopsis'].apply(synopsis_preprocessing)

# synonmys:-

In [41]:
df['synonyms'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: synonyms
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [46]:
(df['synonyms'] == '').sum()

2

In [48]:
df[df['synonyms'] == '']

,name_english,name,score,ranked,popularity,members,synopsis,synonyms,type_of,total_episodes,premiered,studios,genres,demographic,duration_per_ep,rating,scored_by,favorites,aired,source,watching,completed,on_hold,dropped,plan_to_watch,total,scored_10_by,scored_9_by,scored_8_by,scored_7_by,scored_6_by,scored_5_by,scored_4_by,scored_3_by,scored_2_by,scored_1_by
352,Great Pretender,Great Pretender,8.21,353,312,659783,A series of unfortunate events has led Makoto ...,,TV,23,Summer 2020,Wit Studio,"[Action, Adventure, Mystery]",None,23 min. per ep.,R - 17+ (violence & profanity),319392,9939,"Jul 9, 2020 to Dec 17, 2020",Original,"66,157","350,540","34,053","23,626","185,407","659,783",42467,89432,107708,52891,16381,6139,2415,902,386.0,671.0
548,Ninja Kamui,Ninja Kamui,8.06,549,1900,112971,Joe Higan is a Nukenin – a former ninja who es...,,TV,12,Winter 2024,E&H Production,"[Action, Fantasy, Sci-Fi]",None,23 min. per ep.,R - 17+ (violence & profanity),21911,810,"Feb 11, 2024 to ?",Original,"70,280",25,"2,127","2,441","38,098","112,971",3993,5209,6440,3555,1387,677,318,151,61.0,108.0

In [53]:
df['synonyms'] = df['synonyms'] if '' else df['name']

In [54]:
df[df['synonyms'] == '']

Empty DataFrame
Columns: [name_english, name, score, ranked, popularity, members, synopsis, synonyms, type_of, total_episodes, premiered, studios, genres, demographic, duration_per_ep, rating, scored_by, favorites, aired, source, watching, completed, on_hold, dropped, plan_to_watch, total, scored_10_by, scored_9_by, scored_8_by, scored_7_by, scored_6_by, scored_5_by, scored_4_by, scored_3_by, scored_2_by, scored_1_by]
Index: []

# type_of:-

In [62]:
df['type_of'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: type_of
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [63]:
df['type_of'].unique()

array(['TV', 'Movie', 'OVA', 'TV Special', 'ONA', 'Special'], dtype=object)

In [12]:
df['type_of'].value_counts()

type_of
TV            1183
Movie          502
OVA            216
ONA            165
Special        130
TV Special      53
Name: count, dtype: int64

In [13]:
type(df['type_of'][1])

str

# total_episodes:-

In [66]:
df['total_episodes'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: total_episodes
Non-Null Count  Dtype
--------------  -----
2249 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [55]:
df['total_episodes'].sample(5)

1112    97
1164     1
2132    24
1286     2
157     24
Name: total_episodes, dtype: object

In [56]:
df['total_episodes'][1]

'64'

In [57]:
df['total_episodes'].unique()

array(['28', '64', '24', '51', '10', '1', '148', '13', '110', '12', '201',
       '22', '25', '2', '14', '74', '7', '23', '26', '16', '75', '11',
       '47', 'Unknown', '4', '43', '27', '37', '39', '101', '8', '99',
       '112', '6', '120', '62', '15', '50', '20', '17', '40', '33', '79',
       '94', '3', '500', '52', '78', '77', '96', '70', '291', '38', '170',
       '237', '203', '104', '63', '102', '21', '45', '5', '103', '49',
       '220', '153', '9', '109', '34', '366', '18', '54', '69', '145',
       '36', '167', '178', '60', '1787', '35', '113', '373', '76', '155',
       '161', '114', '46', '97', '19', '30', '195', '100', '127', '42',
       '358', '61', '31', '142', '48', '182', '73', '87', '53', '115',
       '175', '136', '150', '86', '140', '124', '29', '147', '224', '44',
       '154', '131', '58', '137'], dtype=object)

In [58]:
df['total_episodes'][393]

'Unknown'

In [59]:
df['total_episodes'] = df['total_episodes'].apply(lambda x: int(x) if x != 'Unknown' else np.nan)

In [60]:
df['total_episodes'][393]

nan

# premiered:-

In [76]:
df['premiered'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2249 entries, 0 to 2248
Series name: premiered
Non-Null Count  Dtype
--------------  -----
1183 non-null   object
dtypes: object(1)
memory usage: 17.7+ KB

In [77]:
df['premiered'].unique()

array(['Fall 2023', 'Spring 2009', 'Spring 2011', 'Spring 2015',
       'Spring 2019', None, 'Fall 2011', 'Fall 2022', 'Fall 2012',
       'Spring 2022', 'Spring 2021', 'Winter 2017', 'Spring 2006',
       'Fall 2008', 'Fall 2017', 'Winter 2024', 'Spring 2008',
       'Summer 2018', 'Spring 2004', 'Summer 2023', 'Spring 2020',
       'Winter 2023', 'Winter 2018', 'Winter 2019', 'Winter 2021',
       'Fall 2016', 'Fall 2000', 'Winter 2022', 'Summer 2013',
       'Spring 1998', 'Summer 2019', 'Fall 2014', 'Fall 1980',
       'Fall 1999', 'Fall 2021', 'Fall 2006', 'Summer 1999',
       'Spring 2014', 'Spring 2023', 'Winter 2009', 'Fall 2005',
       'Summer 2017', 'Summer 2022', 'Winter 2012', 'Spring 2007',
       'Fall 2015', 'Spring 2017', 'Fall 2020', 'Fall 2013', 'Fall 1997',
       'Fall 2018', 'Summer 2011', 'Winter 2016', 'Spring 2010',
       'Fall 1993', 'Spring 2012', 'Spring 2013', 'Spring 2018',
       'Winter 2004', 'Spring 2016', 'Spring 2024', 'Summer 2016',
       'Winter 2008', 'Fall 2019', 'Fall 1992', 'Winter 2015',
       'Fall 2002', 'Summer 2007', 'Winter 2013', 'Winter 2011',
       'Summer 2014', 'Winter 2020', 'Summer 2020', 'Fall 1995',
       'Summer 2009', 'Summer 2021', 'Fall 1979', 'Winter 1995',
       'Winter 2010', 'Summer 2008', 'Summer 2006', 'Spring 1970',
       'Winter 1996', 'Fall 2004', 'Spring 2003', 'Winter 2014',
       'Fall 2007', 'Winter 2007', 'Fall 2003', 'Spring 1990',
       'Spring 1997', 'Spring 1986', 'Fall 2009', 'Winter 2006',
       'Fall 2010', 'Summer 2015', 'Spring 1989', 'Summer 2002',
       'Spring 1978', 'Summer 1998', 'Spring 1988', 'Fall 2001',
       'Spring 1996', 'Spring 2005', 'Spring 2002', 'Summer 2003',
       'Spring 1985', 'Winter 1986', 'Fall 1984', 'Fall 1978',
       'Summer 2005', 'Spring 1987', 'Spring 1994', 'Summer 2012',
       'Fall 1996', 'Fall 1982', 'Winter 1993', 'Fall 1977',
       'Summer 1991', 'Winter 1998', 'Winter 1997', 'Spring 1979',
       'Winter 2002', 'Fall 1983', 'Spring 2001', 'Summer 1996',
       'Fall 1989', 'Winter 2003', 'Winter 1979', 'Spring 1992',
       'Summer 2001', 'Spring 1999', 'Fall 1986', 'Spring 1982',
       'Spring 1991', 'Fall 1981', 'Spring 1995', 'Spring 1993',
       'Summer 2010', 'Spring 1983', 'Winter 1990', 'Spring 2000',
       'Winter 1985', 'Fall 1971', 'Summer 2004', 'Winter 1999',
       'Fall 1998', 'Winter 1991', 'Fall 1974', 'Fall 1994', 'Fall 1990',
       'Winter 1978', 'Fall 1975', 'Fall 1976', 'Fall 1991',
       'Winter 1994', 'Winter 2000', 'Winter 2001', 'Fall 1985',
       'Summer 1980', 'Summer 1984', 'Fall 1968', 'Fall 1987',
       'Summer 1977', 'Winter 1992', 'Winter 1976', 'Winter 1988',
       'Winter 2005', 'Winter 1974'], dtype=object)

In [70]:
df['premiered'].isnull().sum()

1066

In [23]:
df[df['premiered'].isnull()].head(1)

,name_english,name,score,ranked,popularity,members,synopsis,synonyms,type_of,total_episodes,premiered,studios,genres,demographic,duration_per_ep,rating,scored_by,favorites,aired,source,watching,completed,on_hold,dropped,plan_to_watch,total,scored_10_by,scored_9_by,scored_8_by,scored_7_by,scored_6_by,scored_5_by,scored_4_by,scored_3_by,scored_2_by,scored_1_by
5,Gintama: The Very Final,Gintama: The Final,9.04,6,1537,148923,Two years have passed following the Tendoshuu'...,銀魂 THE FINAL,Movie,1,None,Bandai Namco Pictures,"[Action, Comedy, Drama, Sci-Fi]",Shounen,1 hr. 44 min.,PG-13 - Teens 13 or older,71362,4273,"Jan 8, 2021",Manga,"6,797","81,366","1,581","1,415","57,764","148,923",40991,14060,7357,3169,1104,556,244,188,320.0,3373.0

In [24]:
type(df['premiered'][5])

NoneType

In [40]:
df['premiered'] = df['premiered'].fillna('dont know')

In [72]:
df['premiered'].isnull().sum()

0

# studios:-

# genres:-

In [67]:
df['genres']

0                   [Adventure, Drama, Fantasy]
1           [Action, Adventure, Drama, Fantasy]
2                     [Drama, Sci-Fi, Suspense]
3                      [Action, Comedy, Sci-Fi]
4                     [Action, Drama, Suspense]
                         ...
2244                                         []
2245    [Action, Horror, Mystery, Supernatural]
2246                           [Action, Sci-Fi]
2247                                         []
2248                           [Action, Sci-Fi]
Name: genres, Length: 2249, dtype: object

In [77]:
df['genres'] = df['genres'].apply(lambda x: np.nan if len(x) == 0 else x)

In [80]:
df['genres'].isnull().sum()

533

In [93]:
df['demographic'].isnull().sum()

1163

# demografic:-

In [91]:
both_isnull = df['genres'].isna() & df['demographic'].isna()
both_isnull.sum()

252

# duration_per_ep:-

# rating:-

# scored_by:-

# favorites:-

# aired:-

# source:-

# watching:-

# completed:-

# on_hold:-

# dropped:-

# plan_to_watch:-

# total:-

# scored_10_by - scored_1_by:-