In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('test_data_pre_processed.csv')

In [62]:
pd.set_option('display.max_columns', None)
display.max_characters = None

In [33]:
df.head(2)

,name_english,name,score,ranked,popularity,members,synopsis,synonyms,type_of,total_episodes,premiered,studios,genres,demographic,duration_per_ep,rating,scored_by,favorites,aired,source,watching,completed,on_hold,dropped,plan_to_watch,total,scored_10_by,scored_9_by,scored_8_by,scored_7_by,scored_6_by,scored_5_by,scored_4_by,scored_3_by,scored_2_by,scored_1_by
0,Frieren: Beyond Journey's End,Sousou no Frieren,9.39,1,304,665374,During their decade-long quest to defeat the D...,Frieren at the Funeral,TV,28,Fall 2023,Madhouse,"['Adventure', 'Drama', 'Fantasy']",Shounen,24,PG-13 - Teens 13 or older,327897,34885,"Sep 29, 2023 to Mar 22, 2024",Manga,260976,231570,9258,6146,157424,665374,198138,78513,31030,9605,3152,1708,718,426,401,4071
1,Fullmetal Alchemist: Brotherhood,Fullmetal Alchemist: Brotherhood,9.09,2,3,3329888,After a horrific alchemy experiment goes wrong...,"Hagane no Renkinjutsushi: Fullmetal Alchemist,...",TV,64,Spring 2009,Bones,"['Action', 'Adventure', 'Drama', 'Fantasy']",Shounen,24,R - 17+ (violence & profanity),2111351,225168,"Apr 5, 2009 to Jul 4, 2010",Manga,258017,2406628,112300,58838,494105,3329888,1018339,578855,297427,106822,31924,15527,5653,2758,3456,50590

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249 entries, 0 to 2248
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name_english     2249 non-null   object
 1   name             2249 non-null   object
 2   score            2249 non-null   float64
 3   ranked           2249 non-null   int64
 4   popularity       2249 non-null   int64
 5   members          2249 non-null   int64
 6   synopsis         2249 non-null   object
 7   synonyms         2249 non-null   object
 8   type_of          2249 non-null   object
 9   total_episodes   2249 non-null   int64
 10  premiered        2249 non-null   object
 11  studios          2249 non-null   object
 12  genres           1716 non-null   object
 13  demographic      1086 non-null   object
 14  duration_per_ep  2249 non-null   int64
 15  rating           2249 non-null   object
 16  scored_by        2249 non-null   int64
 17  favorites        2249 non-null   int64
 18  aired            2249 non-null   object
 19  source           2249 non-null   object
 20  watching         2249 non-null   int64
 21  completed        2249 non-null   int64
 22  on_hold          2249 non-null   int64
 23  dropped          2249 non-null   int64
 24  plan_to_watch    2249 non-null   int64
 25  total            2249 non-null   int64
 26  scored_10_by     2249 non-null   int64
 27  scored_9_by      2249 non-null   int64
 28  scored_8_by      2249 non-null   int64
 29  scored_7_by      2249 non-null   int64
 30  scored_6_by      2249 non-null   int64
 31  scored_5_by      2249 non-null   int64
 32  scored_4_by      2249 non-null   int64
 33  scored_3_by      2249 non-null   int64
 34  scored_2_by      2249 non-null   int64
 35  scored_1_by      2249 non-null   int64
dtypes: float64(1), int64(23), object(12)
memory usage: 632.7+ KB

In [35]:
df_textual = df.drop(columns=['score', 'ranked', 'popularity', 'members', 'duration_per_ep'
                              , 'scored_by', 'favorites', 'watching', 'completed', 'on_hold'
                              , 'dropped', 'plan_to_watch', 'total', 'scored_1_by', 'scored_2_by'
                              ,'scored_3_by','scored_4_by','scored_5_by','scored_6_by','scored_7_by'
                              ,'scored_8_by','scored_9_by','scored_10_by', 'total_episodes'])
df_numerical = df[['name', 'score', 'ranked', 'popularity', 'members', 'duration_per_ep'
                              , 'scored_by', 'favorites', 'watching', 'completed', 'on_hold'
                              , 'dropped', 'plan_to_watch', 'total', 'scored_1_by', 'scored_2_by'
                              ,'scored_3_by','scored_4_by','scored_5_by','scored_6_by','scored_7_by'
                              ,'scored_8_by','scored_9_by','scored_10_by', 'total_episodes']]

In [36]:
df_textual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249 entries, 0 to 2248
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name_english  2249 non-null   object
 1   name          2249 non-null   object
 2   synopsis      2249 non-null   object
 3   synonyms      2249 non-null   object
 4   type_of       2249 non-null   object
 5   premiered     2249 non-null   object
 6   studios       2249 non-null   object
 7   genres        1716 non-null   object
 8   demographic   1086 non-null   object
 9   rating        2249 non-null   object
 10  aired         2249 non-null   object
 11  source        2249 non-null   object
dtypes: object(12)
memory usage: 211.0+ KB

In [37]:
df_textual['genres'].fillna('genrel', inplace=True)
df_textual['demographic'].fillna('genrel', inplace=True)

In [38]:
df_numerical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249 entries, 0 to 2248
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             2249 non-null   object
 1   score            2249 non-null   float64
 2   ranked           2249 non-null   int64
 3   popularity       2249 non-null   int64
 4   members          2249 non-null   int64
 5   duration_per_ep  2249 non-null   int64
 6   scored_by        2249 non-null   int64
 7   favorites        2249 non-null   int64
 8   watching         2249 non-null   int64
 9   completed        2249 non-null   int64
 10  on_hold          2249 non-null   int64
 11  dropped          2249 non-null   int64
 12  plan_to_watch    2249 non-null   int64
 13  total            2249 non-null   int64
 14  scored_1_by      2249 non-null   int64
 15  scored_2_by      2249 non-null   int64
 16  scored_3_by      2249 non-null   int64
 17  scored_4_by      2249 non-null   int64
 18  scored_5_by      2249 non-null   int64
 19  scored_6_by      2249 non-null   int64
 20  scored_7_by      2249 non-null   int64
 21  scored_8_by      2249 non-null   int64
 22  scored_9_by      2249 non-null   int64
 23  scored_10_by     2249 non-null   int64
 24  total_episodes   2249 non-null   int64
dtypes: float64(1), int64(23), object(1)
memory usage: 439.4+ KB

In [39]:
df_textual.head(1)

,name_english,name,synopsis,synonyms,type_of,premiered,studios,genres,demographic,rating,aired,source
0,Frieren: Beyond Journey's End,Sousou no Frieren,During their decade-long quest to defeat the D...,Frieren at the Funeral,TV,Fall 2023,Madhouse,"['Adventure', 'Drama', 'Fantasy']",Shounen,PG-13 - Teens 13 or older,"Sep 29, 2023 to Mar 22, 2024",Manga

In [40]:
df_textual['synopsis'] = df_textual['synopsis'].apply(lambda x: x.split(' '))

df_textual['type_of'] = df_textual['type_of'].apply(lambda x: [x])

df_textual['premiered'] = df_textual['premiered'].apply(lambda x: x.replace(' ', ''))
df_textual['premiered'] = df_textual['premiered'].apply(lambda x: [x])

df_textual['studios'] = df_textual['studios'].apply(lambda x: x.replace(' ', ''))
df_textual['studios'] = df_textual['studios'].apply(lambda x: [x])

df_textual['demographic'] = df_textual['demographic'].apply(lambda x: [x])

df_textual['rating'] = df_textual['rating'].apply(lambda x: x.replace(' ', ''))
df_textual['rating'] = df_textual['rating'].apply(lambda x: [x])

df_textual['aired'] = df_textual['aired'].apply(lambda x: x.replace(' ', ''))
df_textual['aired'] = df_textual['aired'].apply(lambda x: [x])

df_textual['source'] = df_textual['source'].apply(lambda x: [x])

In [41]:
df_textual['tags'] = df_textual['synopsis'] + df_textual['type_of'] + df_textual['premiered'] + df_textual['studios'] + df_textual['demographic'] + df_textual['rating'] + df_textual['aired'] + df_textual['source']

In [42]:
df_textual.head(2)

,name_english,name,synopsis,synonyms,type_of,premiered,studios,genres,demographic,rating,aired,source,tags
0,Frieren: Beyond Journey's End,Sousou no Frieren,"[During, their, decade-long, quest, to, defeat...",Frieren at the Funeral,[TV],[Fall2023],[Madhouse],"['Adventure', 'Drama', 'Fantasy']",[Shounen],[PG-13-Teens13orolder],"[Sep29,2023toMar22,2024]",[Manga],"[During, their, decade-long, quest, to, defeat..."
1,Fullmetal Alchemist: Brotherhood,Fullmetal Alchemist: Brotherhood,"[After, a, horrific, alchemy, experiment, goes...","Hagane no Renkinjutsushi: Fullmetal Alchemist,...",[TV],[Spring2009],[Bones],"['Action', 'Adventure', 'Drama', 'Fantasy']",[Shounen],[R-17+(violence&profanity)],"[Apr5,2009toJul4,2010]",[Manga],"[After, a, horrific, alchemy, experiment, goes..."

In [43]:
new_df_textual = df_textual[['name_english', 'tags']]

In [45]:
new_df_textual['tags'] = new_df_textual['tags'].apply(lambda x: ' '.join(x))

C:\Users\22213\AppData\Local\Temp\ipykernel_18392\2591287708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_textual['tags'] = new_df_textual['tags'].apply(lambda x: ' '.join(x))

In [71]:
import nltk

In [72]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [73]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [74]:
new_df_textual['tags'] = new_df_textual['tags'].apply(stem)

C:\Users\22213\AppData\Local\Temp\ipykernel_18392\3626470454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_textual['tags'] = new_df_textual['tags'].apply(stem)

In [75]:
new_df_textual['tags'][1]

"after a horrif alchemi experi goe wrong in the elric household, brother edward and alphons are left in a catastroph new realiti ignor the alchem principl ban human transmutation, the boy attempt to bring their recent deceas mother back to life instead, they suffer brutal person loss: alphonse' bodi disintegr while edward lost a leg and then sacrif an arm to keep alphonse' soul in the physic realm by bind it to a hulk suit of armor the brother are rescu by their neighbor pinako rockbel and her granddaught winri known as a bio-mechan engin prodigy, winri creat prosthet limb for edward by util automail, a tough, versatil metal use in robot and combat armor after year of training, the elric brother set off on a quest to restor their bodi by locat the philosopher' stoneâ€”a power gem that allow an alchemist to defi the tradit law of equival exchang as edward becom an infam alchemist and gain the nicknam fullmetal, the boys' journey embroil them in a grow conspiraci that threaten the fate of the world. tv spring2009 bone shounen r-17+(violence&profanity) apr5,2009tojul4,2010 manga"

In [76]:
new_df_textual['tags'] = new_df_textual['tags'].apply(lambda x: x.lower())

C:\Users\22213\AppData\Local\Temp\ipykernel_18392\2301676182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_textual['tags'] = new_df_textual['tags'].apply(lambda x: x.lower())

In [81]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [82]:
vectors = cv.fit_transform(new_df_textual['tags']).toarray()

In [83]:
vectors.shape

(2249, 5000)

In [84]:
cv.get_feature_names_out()

array(['000', '01', '10', ..., 'zodiac', 'zombi', 'zone'], dtype=object)

In [85]:
from sklearn.metrics.pairwise import cosine_similarity